/* Global */
:root {
  --pink: #f038ff;
}

* {
  font-family: monospace;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
a {
  color: var(--pink);
}

a:hover {
  transition-delay: 90ms;
  color: black;
  background-color: var(--pink);
}

/* Selection Color */
::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: var(--pink);
}

::selection {
  color: black;
  background: var(--pink);
}

/* Scrollbar Color */
* {
  /* Code for Firefox */
  scrollbar-width: 2px;
  scrollbar-color: var(--pink) black;
}

*::-webkit-scrollbar {
  /* Code for Chrome, Edge and Safari */
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--pink);
  border: 2px solid var(--pink);
  border-radius: 0px;
}

/* Page Width */
#full-width {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

#container {
  max-width: 1100px;
  width: 95%;
  overflow: hidden;
}

/* Portfolio */
/* Header */
#pheader {
  border-bottom: 2px solid var(--pink);
  margin-bottom: 10%;
}

#pheader p {
  font-size: 22px;
  margin-top: 1%;
  margin-bottom: 1%;
}

#pheader img {
  height: 1.4em;
  margin-bottom: -8px;
}

/* Footer */
#pfooter {
  border-top: 2px solid var(--pink);
  margin-top: 10%;
}

#pfooter p {
  font-size: 16px;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Project Grid */
.project {
  margin-bottom: 10%;
}

@media (min-width: 900px) {
  /* Desktop */
  .project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Project Body */
.project img {
  width: 100%;
}

.pcell h2 {
  font-size: 22px;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.pcell h3 {
  font-size: 18px;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.pcell p {
  font-size: 16px;
  margin-top: 0.5%;
  margin-bottom: 1%;
}
